antiter/data/terror_2_1_cor.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>XSD cхема Перечня террористов и экстремистов v. 2.1</xs:documentation>
	</xs:annotation>
	<xs:element name="Перечень">
		<xs:annotation>
			<xs:documentation>Перечень террористов и экстремистов</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ВерсияФормата" type="xs:string" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Версия формата Перечня</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ДатаПеречня" type="xs:date" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Дата выпуска Перечня</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ДатаПредыдущегоПеречня" type="xs:date" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Дата выпуска предыдущего Перечня</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="АктуальныйПеречень" type="АктуальныйПереченьТип" maxOccurs="1"/>
				<xs:element name="ПоследниеВключенные" type="ПоследниеВклИсклТип" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Список субъектов, включенных в новую редакцию Перечня, которых не было в предыдущей редакции Перечня</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ПоследниеИсключенные" type="ПоследниеВклИсклТип" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Список лиц, исключенных из актуального Перечня террористов и экстремистов в данной редакции Перечня</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="АктуальныйПереченьТип">
		<xs:annotation>
			<xs:documentation>Список фигурантов Актуального Перечня</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Субъект" type="СубъектТип" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Фигурант Актуального Перечня</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СубъектТип">
		<xs:sequence>
			<xs:element name="ИдСубъекта" type="ИдСубъектаТип">
				<xs:annotation>
					<xs:documentation>Идентификатор субъекта из БД РФМ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="УНС" type="УНСТип" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>международный уникальный идентификатор субъекта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ТипСубъекта" type="СправочникТип" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип субъекта:1 - Организация, включенная в Перечень на основании п.п. 7 п.2.1 ст.6 Федерального закона от 07.08.2001 №115-ФЗ; 2 - Физическое лицо, включенное в Перечень на основании п.п. 7 п.2.1 ст.6 Федерального закона от 07.08.2001 №115-ФЗ; 3 - Организация, включенная в Перечень на основании пп. 1, 3 п.2.1 ст.6 Федерального закона от 07.08.2001 № 115-ФЗ; 4 - Физическое лицо, включенное в Перечень на основании пп. 2, 4, 5 п.2.1 ст.6 Федерального закона от 07.08.2001 № 115-ФЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="История" type="ИсторияТип" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>История включения, модификации, исключения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ФЛ" type="ФЛТип" minOccurs="0"/>
				<xs:element name="Орг" type="ОргТип" minOccurs="0"/>
			</xs:choice>
			<xs:element name="СписокАдресов" type="СписокАдресовТип" minOccurs="0"/>
			<xs:element name="Примечание" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительное описание субъекта</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Террорист" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Возможные значения:1 – Террорист; 0 - ЭкстремистДанный признак присутствует только для субъекта актуального списка террористов и экстремистов («АктуальныйПеречень»)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ИдСубъектаТип">
		<xs:annotation>
			<xs:documentation>Символьный код субъекта
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ИсторияТип">
		<xs:annotation>
			<xs:documentation>История включения/модификации/исключения субъекта в Перечень</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="ДатаВключения" type="xs:date">
				<xs:annotation>
					<xs:documentation>Дата включения субъекта в Перечень</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаИсключения" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата исключения субъекта из Перечня</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаИзменения" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата изменения субъекта Перечня</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ФЛТип">
		<xs:annotation>
			<xs:documentation>Физическое лицо</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ФИО" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Фамилия Имя Отчество физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Фамилия" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Фамилия физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Имя" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Имя физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Отчество" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Отчество физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ФИОЛат" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаРождения" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата рождения лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГодРождения" type="ГодТип" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Год рождения ФЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МестоРождения" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Место рождения лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ИНН" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СНИЛС" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Страховой номер индивидуального лицевого счёта - физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СписокДокументов" type="СписокДокументовТип" minOccurs="0"/>
			<xs:element name="СписокДрНаименований" type="СписокДрНаименованийФЛТип" minOccurs="0"/>
			<xs:element name="СписокГражданств" type="СписокГражданствФЛТип" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СписокДокументовТип">
		<xs:annotation>
			<xs:documentation>Список документов, удостоверяющих личность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Документ" type="ДокументТип" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ДокументТип">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипДокумента" type="СправочникТип" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Серия" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Серия документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Номер" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Номер документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ОрганВыдачи" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Орган, выдавший документ, удостоверяющий личность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаВыдачи" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаС" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата начала действия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаПо" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата окончания действия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПризнакДействительности" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Возможные значения:       1 – Действительный (действующий) документ;       0 – Недействительный;</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СписокДрНаименованийФЛТип">
		<xs:annotation>
			<xs:documentation>Список других наименований физического лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ДрНаименование" type="ДрНаименованиеФЛТип" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ДрНаименованиеФЛТип">
		<xs:annotation>
			<xs:documentation>Другое наименование физического лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ФИО" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Фамилия Имя Отчество физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Фамилия" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Имя" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Отчество" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ФИОЛат" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаРождения" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата рождения физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГодРождения" type="ГодТип" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Год рождения ФЛ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МестоРождения" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Место рождения физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ИНН" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СНИЛС" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Страховой номер индивидуального лицевого счёта - физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СписокДокументов" type="СписокДокументовТип" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СписокГражданствФЛТип">
		<xs:annotation>
			<xs:documentation>Список Гражданств</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Гражданство" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ОргТип">
		<xs:annotation>
			<xs:documentation>Организация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Наименование" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Полное наименование субъекта</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НаименованиеЛат" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование субъекта в латинской транслитерации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаРегистрации" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата регистрации организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МестоРегистрации" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Место регистрации организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ИНН" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер налогоплательщика-организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ОГРН" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Основной  государственный регистрационный номер организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СписокДрНаименований" type="СписокДрНаименованийОргТип" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СписокДрНаименованийОргТип">
		<xs:annotation>
			<xs:documentation>Список других наименований организации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ДрНаименование" type="ДрНаименованиеОргТип" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ДрНаименованиеОргТип">
		<xs:annotation>
			<xs:documentation>Другое наименование организации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Наименование" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Полное наименование организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НаименованиеЛат" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаРегистрации" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата регистрации организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МестоРегистрации" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Место регистрации организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ИНН" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер налогоплательщика-организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ОГРН" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Основной государственный регистрационный номер-организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СписокАдресовТип">
		<xs:annotation>
			<xs:documentation>Список адресов субъекта</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Адрес" type="АдресТип" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="АдресТип">
		<xs:annotation>
			<xs:documentation>Адрес субъекта</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипАдреса" type="СправочникТип" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип адреса субъекта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ТекстАдреса" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Строка адреса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1023"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Страна" type="СтранаТип" minOccurs="0"/>
			<xs:element name="Индекс" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ОКАТО" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер общего классификатора объектов административно-территориального деления</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,11}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Регион" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регион</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="127"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Район" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Город" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город/Населенный пункт</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Улица" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Дом" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дом</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Строение" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Строение/Корпус</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Помещение" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Помещение/Квартира</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СтранаТип">
		<xs:annotation>
			<xs:documentation>Тип для описания страны</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Наименование" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Страна</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Код" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цифровой код страны из ОКСМ</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-9]{3})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="УНСТип">
		<xs:annotation>
			<xs:documentation>Тип международного уникального номера фигуранта</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ГодТип">
		<xs:annotation>
			<xs:documentation>Тип года рождения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="СправочникТип">
		<xs:annotation>
			<xs:documentation>Базовый тип для справочников</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Идентификатор" type="xs:long" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Наименование" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ПоследниеВклИсклТип">
		<xs:annotation>
			<xs:documentation>Список лиц, включенных в последнюю редакцию Перечня, или список лиц, исключенных из последней редакции Перечня</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ВклИсклСубъект" type="ВклИсклСубъектТип" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Субъект, включенный в данную редакцию Перечня или исключенный из неё</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ВклИсклСубъектТип">
		<xs:annotation>
			<xs:documentation>Субъект, включенный в данную редакцию Перечня или исключенный из неё</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ИдСубъекта" type="ИдСубъектаТип" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификатор субъекта из БД РФМ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ТипВклИсклСубъекта" type="СправочникТип" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип включаемого/исключаемого субъекта: 1 - Организация, 2 - Физическое лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ВклИсклОрг" type="ВклИсклОргТип" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Организация, включенная в данную редакцию Перечня или исключенная из неё</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ВклИсклФЛ" type="ВклИсклФЛТип" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Физическое лицо, включенное в данную редакцию Перечня или исключенное из неё</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ВклИсклОргТип">
		<xs:annotation>
			<xs:documentation>Организация, включенная в данную редакцию Перечня или исключенная из неё</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Наименование" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Наименование организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ИНН" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ОГРН" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Основной  государственный регистрационный номер</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СписокАдресовВклИсклОрг" type="СписокАдресовВклИсклОргТип" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="СписокАдресовВклИсклОргТип">
		<xs:annotation>
			<xs:documentation>Список адресов местонахождения и места регистрации организации, включенной в данную редакцию Перечня или исключенной из неё</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="АдресВклИсклОрг" type="АдресВклИсклОргТип" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Адрес местонахождения или места регистрации организации, включенной в данную редакцию Перечня или исключенной из неё</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="АдресВклИсклОргТип">
		<xs:annotation>
			<xs:documentation>Адрес местонахождения или места регистрации организации, включенной в данную редакцию Перечня или исключенной из неё</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипАдреса" type="СправочникТип" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Тип адреса: 2- Адрес места регистрации, 5 - Адрес местонахождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ТекстАдреса" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Строка адреса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1023"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ВклИсклФЛТип">
		<xs:annotation>
			<xs:documentation>Физическое лицо, включенное в данную редакцию Перечня или исключенное из неё</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ФИО" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ФИО субъекта</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Фамилия" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Имя" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Отчество" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаРождения" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МестоРождения" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ИНН" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СНИЛС" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Страховой номер индивидуального лицевого счёта</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СписокДокументов" type="СписокДокументовТип" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
